# ZYV

[Desktop Entry]
Version=1.0
Type=Link
Name=CNS 2011 Tutorials
Comment=CNS 2011 Tutorials
URL=file:///usr/share/example-content/cns-2011-tutorials
Icon=folder

